{"openapi":"3.0.3","info":{"title":"PayTest Gateway API","version":"1.0.0","description":"Simulated payment gateway for the PayTest mobile assessment. This is a sandbox: no real payment processing happens, but the API behaves like a real gateway — transport success (HTTP status) and business outcome (transaction status) are two different things, and you should design your client accordingly. Not every failure mode a client might encounter is enumerated below; build defensively."},"servers":[{"url":"https://api-assessment.pagadito.dev"}],"security":[{"bearerAuth":[]}],"paths":{"/health":{"get":{"summary":"Health check","security":[],"responses":{"200":{"description":"Service is up","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Health"}}}}}}},"/auth/signup":{"post":{"summary":"Create an account","security":[],"description":"Creates a user and an initial session in one call — you get a token back immediately, no separate login required after signing up.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignupRequest"}}}},"responses":{"201":{"description":"Account created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}},"400":{"$ref":"#/components/responses/ValidationError"},"409":{"description":"An account with this email already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/auth/login":{"post":{"summary":"Log in","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}}},"responses":{"200":{"description":"Logged in","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}},"400":{"$ref":"#/components/responses/ValidationError"},"401":{"description":"Email or password is incorrect (the same error is returned for both cases, deliberately — don't leak which one it was)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/auth/logout":{"post":{"summary":"Log out (revoke the current session only)","responses":{"204":{"description":"Session revoked"},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/me":{"get":{"summary":"Get the current user","responses":{"200":{"description":"Current user","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}},"delete":{"summary":"Delete the current account","description":"Deletes the user, revokes every session for that user, and removes their transactions. Irreversible.","responses":{"204":{"description":"Account deleted"},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/cards":{"post":{"summary":"Tokenize a card","description":"Card number and CVV are only ever used to derive a token and safe metadata; they are never persisted or echoed back. Cards are a shared pool visible to every logged-in user, not scoped per-account.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewCardRequest"}}}},"responses":{"201":{"description":"Card tokenized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Card"}}}},"400":{"$ref":"#/components/responses/ValidationError"},"401":{"$ref":"#/components/responses/Unauthorized"},"422":{"description":"The submitted expiration date is already in the past","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}},"get":{"summary":"List all tokenized cards","responses":{"200":{"description":"Cards","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Card"}}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/cards/{token}":{"get":{"summary":"Retrieve a single card by token","parameters":[{"name":"token","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Card","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Card"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/CardNotFound"}}}},"/transactions/authorize":{"post":{"summary":"Authorize a transaction","description":"Returns 200 for every outcome that reaches the business-processing stage — including declines. **A 200 response does not mean the payment was approved; check the `status` field.** Some requests take several seconds to resolve; your client should stay responsive and prevent duplicate submissions while waiting.\n\nSupports an optional `Idempotency-Key` header. If you send the same key again, the original transaction is returned unchanged instead of creating a duplicate — use one key per user-initiated attempt, and reuse it (don't regenerate) on retries of that same attempt. The key is scoped to your account, not global.\n\nThe created transaction is owned by whoever is authenticated — there is no way to create a transaction on another account's behalf.","parameters":[{"name":"Idempotency-Key","in":"header","required":false,"schema":{"type":"string"},"description":"Client-generated unique key for this authorization attempt."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthorizeTransactionRequest"}}}},"responses":{"200":{"description":"Business-processing stage reached. Inspect `status` — AUTHORIZED, DECLINED, and PENDING are all valid outcomes here.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transaction"}}}},"400":{"$ref":"#/components/responses/ValidationError"},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"$ref":"#/components/responses/CardNotFound"},"422":{"description":"The card could not be charged (e.g. inactive or expired), or the gateway rejected the request before reaching the business-processing stage. Not persisted as a transaction. Other 4xx/5xx outcomes are possible — this API does not guarantee only the codes listed here.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}},"/transactions":{"get":{"summary":"List all transactions","description":"Returns only the authenticated account's own transactions — not a global list.","responses":{"200":{"description":"Transactions","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Transaction"}}}}},"401":{"$ref":"#/components/responses/Unauthorized"}}}},"/transactions/{id}":{"get":{"summary":"Retrieve a single transaction by id","description":"Returns 404 both when the id doesn't exist and when it belongs to a different account — the two cases are not distinguished.","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Transaction","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Transaction"}}}},"401":{"$ref":"#/components/responses/Unauthorized"},"404":{"description":"No transaction found for the given id","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}}}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","description":"The token returned by /auth/signup or /auth/login. Send it as `Authorization: Bearer <token>`. Every endpoint except /health, /auth/signup, and /auth/login requires it."}},"responses":{"ValidationError":{"description":"Request body is missing or has invalid fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"CardNotFound":{"description":"No card exists for the given token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"Unauthorized":{"description":"Missing, invalid, or revoked session token","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"schemas":{"Health":{"type":"object","properties":{"status":{"type":"string","example":"ok"}}},"User":{"type":"object","properties":{"id":{"type":"string"},"email":{"type":"string","example":"jane@example.com"},"createdAt":{"type":"string","format":"date-time"}}},"SignupRequest":{"type":"object","required":["email","password"],"properties":{"email":{"type":"string","example":"jane@example.com"},"password":{"type":"string","minLength":8,"example":"correct-horse-battery"}}},"LoginRequest":{"type":"object","required":["email","password"],"properties":{"email":{"type":"string","example":"jane@example.com"},"password":{"type":"string","example":"correct-horse-battery"}}},"AuthResponse":{"type":"object","properties":{"token":{"type":"string","description":"Opaque session token. Store it; there is no way to recover it later."},"user":{"$ref":"#/components/schemas/User"}}},"ApiError":{"type":"object","properties":{"code":{"type":"string","example":"CARD_NOT_FOUND"},"message":{"type":"string"}},"required":["code","message"]},"CardBrand":{"type":"string","enum":["visa","mastercard","amex","discover","unknown"]},"CardStatus":{"type":"string","enum":["ACTIVE","INACTIVE"]},"NewCardRequest":{"type":"object","required":["cardholderName","cardNumber","expirationMonth","expirationYear","cvv"],"properties":{"cardholderName":{"type":"string","example":"John Doe"},"cardNumber":{"type":"string","example":"4111111111111111"},"expirationMonth":{"type":"integer","minimum":1,"maximum":12,"example":12},"expirationYear":{"type":"integer","example":2029},"cvv":{"type":"string","example":"123"}}},"Card":{"type":"object","properties":{"token":{"type":"string","example":"tok_7f3a2b91c84e"},"brand":{"$ref":"#/components/schemas/CardBrand"},"last4":{"type":"string","example":"1111"},"expirationMonth":{"type":"integer","example":12},"expirationYear":{"type":"integer","example":2029},"cardholderName":{"type":"string","example":"John Doe"},"status":{"$ref":"#/components/schemas/CardStatus"},"createdAt":{"type":"string","format":"date-time"}}},"AuthorizeTransactionRequest":{"type":"object","required":["description","amount","currency","cardToken"],"properties":{"description":{"type":"string","example":"Monthly subscription"},"amount":{"type":"integer","description":"Amount in minor currency units (e.g. 1000 = $10.00).","example":1000},"currency":{"type":"string","example":"USD"},"cardToken":{"type":"string","example":"tok_7f3a2b91c84e"}}},"Transaction":{"type":"object","properties":{"id":{"type":"string"},"description":{"type":"string"},"amount":{"type":"integer"},"currency":{"type":"string"},"status":{"type":"string","enum":["AUTHORIZED","DECLINED","PENDING"]},"card":{"type":"object","properties":{"token":{"type":"string"},"brand":{"$ref":"#/components/schemas/CardBrand"},"last4":{"type":"string"}}},"createdAt":{"type":"string","format":"date-time"}}}}}}